/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel
/public/storage
/public/hot
/storage/*.key
/bootstrap/cache/*.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
